static*
bundle*
.eslintcache
coverage
.nyc_output
.DS_Store
.idea
.vscode
.#*.js
tools/csvInput/*
tools/csvOutput/*
tools/i18n/output*
tools/codeGenerator/output*
__tests__

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
*jsbundle*
ios/assets
ios/Pods

# Android/IntelliJ
#
build/
.idea
.gradle
.externalNativeBuild
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

core/compiler/build/
core/compiler/src/
core/compiler/dist/
core/compiler/sysroot/
core/compiler/wasmception-*-bin.tar.gz

*TAGS