@import 'resources/styles/variables.css';

.home {
  width: 100%;
  background-color: #eef2f5;

  .currency {
    position: relative;
    height: 337px;
    background-color: #f2f5fa;
    overflow: hidden;

    .btn {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #365bbe;
      cursor: pointer;
      box-shadow: 0px 2px 2px #cfe1f4, 0px 4px 2px #cfe1f4;
      transition: .3s ease-in-out;

      svg {
        transition: .3s ease-in-out;
      }

      &:hover {
        /* margin-top: 3px; */
        box-shadow: 0px 2px 2px #cfe1f4, 0px 6px 4px #cfe1f4;


        svg {
          transform: scale(1.6);
        }
      }
    }

    .leftBtn {
      left: 25%;
      transform: translate(-30px, -30px);
      cursor: pointer;

      &:hover {
        transform: scale(1.05) translate(-30px, -30px);
        svg {
          transform: scale(1.6) rotate(180deg);
        }
      }

      svg {
        transform: scale(1.4) rotate(180deg);
      }
    }

    .rightBtn {
      right: 25%;
      transform: translate(30px, -30px);

      &:hover {
        transform: scale(1.05) translate(30px, -30px);
        svg {
          transform: scale(1.6);
        }
      }
      svg {
        transform: scale(1.4);
      }
    }

    .currencyWrap {
      position: absolute;
      display: flex;
      align-items: center;
      left: 25%;
      height: 100%;
      transition: transform 0.5s ease;

      .currencyCell {
        width: 50vw;
        font-size: 200px;
        color: #fff;
        font-weight: 640;
        transition: .3s ease-in-out;
      }

      .activeCurrency {
        color: #c3d9ef;
      }

      &.ETH {
        transform: translateX(-50%);
        transition: transform 0.5s ease;
      }
    }
  }

  .price {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f2f5fa;

    .priceCell {
      background-color: #fff;
      padding: 66px 40px 60px;
      min-width: 15rem;
      margin: 1px;

      .title {
        color: #666;
        font-weight: bold;
      }

      .lastPrice {
        padding-top: 26px;
        padding-bottom: 26px;
        color: #999;
        font-size: 14px;
      }

      .priceAdd {
        color: #63a24b;
      }

      .priceDec {
        color: #f07248;
      }

      .number {
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 34px;
      }

      .index {
        font-size: 24px;
      }
    }
  }

  .carousel {
    display: flex;
    justify-content: space-between;

    .left {
      flex: 1;
      height: 50vw;
      position: relative;
      overflow: hidden;

      .imgWrap {
        display: flex;
        position: absolute;
        transition: .3s ease-in-out;

        .imgCell {
          width: 50vw;
        }

        img {
          width: 100%;
        }
      }

      .leftTip {
        position: absolute;
        right: 0;
        top: 0;
        width: 208px;
        height: 87px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #bdbccd;
        font-size: 20px;

        span {
          color: #375ec1;
        }
      }
    }

    .right {
      flex: 1;
      position: relative;
      background-color: #375ec1;
      padding-top: 200px;
      padding-left: 65px;
      text-align: left;

      .rightTitle {
        font-size: 36px;
        font-weight: 500;
        color: #fff;
        padding-bottom: 85px;
      }

      .rightContent {
        > div {
          color: #fff;
          font-size: 18px;
          padding-bottom: 15px;
          max-width: 60%;
          line-height: 2.0;
        }
      }

      .rightTip {
        position: absolute;
        left: 0;
        top: 0;
        width: 207px;
        height: 87px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .arrow {
          background-color: #254caf;
          width: 103px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          svg {
            transition: .3s ease-in-out;
          }
        }

        .arrowLeft {
          transform: rotate(180deg);

          &:hover {
            svg {
              margin-left: 18px;
              transform: scale(1.2);
            }
          }
        }

        .arrowRight {
          &:hover {
            svg {
              margin-right: -18px;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }

  .partner {
    padding: 65px 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

    .leftPartner {
      flex: 1;
      background-color: #f2f5fa;
      padding: 60px 0;

      .partnerCell {
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #888799;
        font-size: 24px;

        .text {
          margin-left: 20px;
          width: 120px;
          text-align: left;
        }
      }
    }

    .rightPartner {
      flex: 1;
      position: relative;
      background-color: #fff;
      padding-top: 200px;
      padding-left: 65px;
      text-align: left;

      .partnerTitle {
        font-size: 36px;
        font-weight: 500;
        color: #375ec1;
        padding-bottom: 85px;
      }

      .partnerContent {
        color: #375ec1;
        font-size: 18px;
        padding-bottom: 300px;
        max-width: 60%;
      }
    }
  }
}

@media only screen and (max-width : 1440px) {
  .home {
    .price {
      .priceCell {
        background-color: #fff;
        padding: 46px 20px 40px;

        .title {
          color: #666;
          font-weight: bold;
        }

        .lastPrice {
          padding-top: 26px;
          padding-bottom: 26px;
          color: #999;
          font-size: 14px;
        }

        .priceAdd {
          color: #63a24b;
        }

        .priceDec {
          color: #f07248;
        }

        .number {
          font-weight: bold;
          font-size: 30px;
          padding-bottom: 34px;
        }

        .index {
          font-size: 24px;
        }
      }
    }
  }
}

@media only screen and (max-width : 1220px) {
  .home {
    .carousel {
      .right {
        padding-top: 150px;
      }
    }
  }
}

@media only screen and (max-width : 768px) {
  .home {
    .carousel {
      flex-direction: column;
      width: 80%;
      margin: 0 auto;
      .left {
        height: 80vw;
        .imgWrap {
          .imgCell {
            width: 80vw;
            img {
              width: 100%;
            }
          }
        }

        .leftTip {
          left: 50%;
          transform: translateX(-50%);
          top: calc(80vw - 76px);
        }
      }
      .right {
        padding-top: 100px;
        min-height: 80vw;

        .rightTitle {
          padding-bottom: 30px;
        }

        .rightContent {
          > div {
            max-width: 80%;
            line-height: 1.6;
          }
        }

        .rightTip {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

  .currency {
    height:150px;
     .currencyWrap{
       .currencyCell{
         font-size: 50px;
       }
     }
    .btn{
      width: 30px;
      height: 30px;



    }
    .leftBtn{
      transform: translate(-30px,-15px);
      svg{
        transform: scale(0.8) rotate(180deg);
      }
      &:hover {
        transform: scale(1.05) translate(-30px,-15px);

        svg {
          transform: scale(0.9) rotate(180deg);
        }
      }
    }
    .rightBtn{
      transform: translate(30px,-15px);

      &:hover {
        transform: scale(1.05) translate(30px,-15px);

        svg {
          transform: scale(0.9) rotate(180deg);
        }
      }
      svg{
        transform: scale(0.8)
      }
    &:hover {

    svg {
      transform: scale(0.9);
    }
    }
    }
  }

    .partner {
      flex-direction: column;
      width: 80vw;
      margin: 0 auto;
    }
  }
}

@media only screen and (max-width : 425px) {
  .home {
    .carousel {
      width: 100%;

      .left {
        height: 100vw;

        .imgWrap {
          .imgCell {
            width: 100vw;
          }
        }

        .leftTip {
          top: calc(100vw - 76px);
        }
      }
      .right {
        height: 120vw;

        .rightTitle {
          padding-bottom: 30px;
        }
        .rightContent {
          > div {
            max-width: 80%;
            line-height: 1.6;
          }
        }
      }
    }

    .partner {
      width: 100vw;
    }
  }
}
