@import 'resources/styles/variables.css';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 0.875rem;
  height: 0.875rem;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid var(--reserve-border-color);
  border-right-color: transparent;
  border-radius: 50%;
  margin-left: 5px;
  animation-duration: 0.5s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
